<p>
  
    <label>Title: <span class="color">*</span></label><input type="text" placeholder="Title"><br />
    <label>Year: <span class="color">*</span></label><input type="text" placeholder="Year"><br />
    <label>Genre: </label><input type="text" placeholder="Genre"><br />
    <label>Duration: </label><input type="text" placeholder="Duration"><br />
    <label>Director: </label><input type="text" placeholder="Director"><br />
    <label>Cast: </label><input type="text" placeholder="Cast"><br />
    <label>Description: <span class="color">*</span></label><input type="text" placeholder="Description"><br />
    <label>Rating: <span class="color">*</span></label><input type="text" placeholder="Rating"><br />
  
    <button type="submit">Add</button>
  
  </p>