body {
    background-color: antiquewhite;
}

.tiedot {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tietoboksi {
    background-color: #f0efef;
    padding: 5% 0 2% 0;
    margin-left: -4.5%;
}

ul {
    list-style-type: none;
}