header {
    background-color: white;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navi {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: white;
}