<!--The content below is only a placeholder and can be replaced.-->
<div class="mainclass" style="text-align:center">
  
  <!--ETUSIVU, YLÄOSA-->
  <div>

    <!--Header-->
    <header>
      <img width="30%" alt="Angular Logo" src="../assets/image/logo.jpg">
        <!--
        <h1>{{ title }}</h1>
        -->
    </header>

    <!--Navipalkki-->
    <div class="navi">
        <app-navbar></app-navbar>
    </div>

  </div>

  <!--ROUTER SISÄLTÖ-->
  <div>
    <router-outlet></router-outlet>
  </div>

  <!--Footer-->
  <div>
    <br />
    <footer>
      &copy; 2018 - Okku, Ville, Tero, Mikko
    </footer>
    <br />
  </div>

</div>