<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Parhaat elokuvat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['']" class="nav-link">Koti<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/api/movieinfoes']" class="nav-link">Linkit</a>
        </li>
        <li>
          <a [routerLink]="['/rate-movie']" class="nav-link">
            <app-rate-movie></app-rate-movie>
            Leffat</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Hae elokuvia" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Haku</button>
      </form>
    </div>
  </nav>