<br />
<div class="movieinfot">
  <!--
  {{data|json}}
  -->
  
  <button type="button" [routerLink]="['/ratemovie']" class="btn btn-primary btn-lg">Rate this movie</button><hr />

  <div class="titlekooste">
  
      <h4>{{data[2].Title}}, {{data[2].Year}}</h4>

    <table style="width: 80%">
      <tr>
        <td class="vasen"><label>Genre: </label></td><td class="right">{{data[2].Genre}}</td>
      </tr>
      <tr>
        <td class="vasen"><label>Director: </label></td><td class="right">{{data[2].Director}}</td>
      </tr>
      <tr>
        <td class="vasen"><label>Duration: </label></td><td class="right">{{data[2].Duration}}</td>
      </tr>
      <tr>
        <td class="vasen"><label>Cast: </label></td><td class="right">{{data[2].Cast}}</td>
      </tr>
      <br />
    </table>

    <strong><p class="ratingSpecial">TOTAL RATING: {{data[2].Rating}}</p></strong>
    
  </div>


  <ul>
      <li *ngFor="let m of data"><div class="arvostelut">NICKNAME, {{data[2].Rating}}</div></li><br />
  </ul>
</div>

<!--
  {{m.Title}}
  {{m.Year}}
  {{m.Description}}
  {{m.Genre}}
  {{m.Director}}
  {{m.Duration}}
  {{m.Cast}}
-->