body {
    background-color: antiquewhite;
}

.movieinfot {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arvostelut {
    background-color: #f0efef;
    padding: 2% 0;
    margin: 3%;
    display: block;
    margin-left: -4.5%;
    margin-right: auto;
}

#titlekooste {
    background-color: #f0efef;
    padding: 2% 0;
    margin: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}