<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img src="assets/image/kuva1.jpg" width="900px" height="500px" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Snow White and the Huntsman</h3>
        <p>Now in theaters.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/image/kuva2.jpg" width="900px" height="500px" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Batman vs. Superman</h3>
        <p>Best movie ever! You won't regret.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/image/kuva3.jpg" width="900px" height="500px" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Avatar</h3>
        <p>James Cameron masterpiece.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  